:root {
    --burger-color: white;
    --burger-width: 18px;
    --burger-height: 14px;
    --burger-line-thickness: calc(var(--burger-height) / 8);
    --burger-line-radius: 999px;
}

.hamburger {
    padding: 1px;
}

.hamburger label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: var(--burger-width);
    height: var(--burger-height);
    cursor: pointer;
}

.hamburger label input {
    display: none;
}

.hamburger label span {
    display: block;
    height: var(--burger-line-thickness);
    width: 100%;
    border-radius: var(--burger-line-radius);
    transition: .25s ease-in-out;
    background: var(--burger-color);
    transform-origin: left center;
}

.hamburger label input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
}

.hamburger label input:checked ~ span:nth-of-type(2) {
    width: 0;
    opacity: 0;
}

.hamburger label input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
}