.search {
    --search-border-radius: 999px;
    --search-icon-size: 24px;
    --search-button-width: 50px;
    --search-height: 30px;
    --search-padding-width: 20px;
    --search-padding-height: 5px;
    --search-background: rgb(200, 200, 200);
    --search-rollover-background: rgb(230, 230, 230);
    --search-focus-background: white;
    --search-text-color: black;

    display: flex;
    align-items: center;
    border-radius: var(--search-border-radius);
    overflow: clip;
    margin: 15px;
    min-width: 150px;
}

.search label {
    display: flex;
    flex: 1;
    align-items: center;
    color: var(--search-text-color);
    height: var(--search-height);
    background-color: var(--search-background);
    padding: var(--search-padding-height) var(--search-padding-width);
    transition: background-color 250ms linear;
}

.search label input {
    width: 100%;
    height: 100%;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--search-text-color);
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 600;
}

.search label:hover {
    background-color: var(--search-rollover-background);
}

.search label:focus-within {
    background-color: var(--search-focus-background);
}

.search button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--search-height) + 2 * var(--search-padding-height));
    border-radius: 0;
    border: none;
    width: var(--search-button-width);
    background-color: var(--search-background);
    transition: background-color 250ms linear;
}

.search button:hover {
    background-color: var(--search-rollover-background);
}

.search button:active {
    background-color: var(--search-focus-background)
}

.search-icon {
    width: calc(var(--search-icon-size));
    height: calc(var(--search-icon-size));
}