:root {
    --sidebar-width-collapsed: 70px;
    --sidebar-width: 250px;
    --sidebar-icon-size: 20px;
}

#sidebar {
    --sidebar-background: #2f323a;

    position: fixed;
    overflow: hidden;
    display: flex;
    width: var(--sidebar-width-collapsed);
    height: calc(100% - var(--header-height));
    background-color: var(--sidebar-background);
    transition: width 100ms linear;
}

#sidebar.open {
    width: var(--sidebar-width);
}

#sidebar.open ~ #content {
    margin-left: var(--sidebar-width);
}

#sidebar nav {
    display: flex;
    width: 100%;
    margin: 10px calc((var(--sidebar-width-collapsed) / 2) - (var(--sidebar-icon-size) / 2));
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#sidebar nav a {
    position: relative;
    padding: 20px 0;
    width: var(--sidebar-width);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #e4e7ec;
}

#sidebar nav a .iconify {
    height: var(--sidebar-icon-size);
    width: var(--sidebar-icon-size);
    transition: color 100ms linear;
}

#sidebar nav a .iconify:hover {
    color: white;
}

#sidebar nav a .sidebarItemName {
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    transition: opacity 100ms linear, color 100ms linear;
}

#sidebar.open nav a:hover {
    color: white;
}

#sidebar.open nav a .sidebarItemName {
    opacity: 1;
}

